<div id="page_content">
  <h3>Item Information</h3>
  <div id="item_zone">
    <div id="item_image">
      <img src='/image.png' width="300" height="300">
    </div>
    <div id="item_information">
      <h3>あなたにぴったりのアクセサリー</h3>
      <h3>590円</h3>
      <h3>残り時間: 22時間56分38秒</h3>
      <button id="in_cart" class="btn btn-danger">カートに入れる</button>
    </div>
  </div>
</div>

<div id="confirm_box" style="width: 200px; height:200px; background:#FFFAFA; float:right; display:none;">
  <p>これでいいの？</p>
  <a href="/purchase/index"><button id="continue" class="btn btn-danger">レジに進む</button></a>
</div>
