<div id="page_content">
  <div class="item_zone_top label1">
    <div class="time">
      <h3>残り時間: 22時間56分38秒</h3>
    </div> 
    <h3>Item Information</h3>
  </div>
  <div class="item_zone">
    <div class="item_image">
      <img src='/image.png' width="300" height="300">
    </div>
    <div class="item_information">
      <h1 id="item_name" style="font-size: 55px;"><%= @item.name %></h1>
      <div class="item_detail">
        <p>こちらはかの有名な森山さんによって作られた腕時計
          Leather Druidは、ウクライナ在住のデザイナーAlexander A.氏のデザインスタジオ。長年愛用できるオリジナル手帳や革ケースを作り続けています。Alexander は、最愛の妻と2人の子供の4          人暮らし。一家の主として、職人として、家族と最高の人生を過ごすためにはどうしたらいいかと考え、大好きな革製品作りを選びました。そんなAlexanderの手から生み出される革製品はす          べて100%天然素材というこだわり。部分的に使用している木にいたってはわざわざ倒木を再利用しているという徹底ぶり。手帳自体もAlexanderによる手作り。「自然と共に歩む」というスタ          ンスから生み出されるAlexanderの作品からは、ロマンスさえ感じます。</p>
      </div>
      <button id="in_cart" class="btn btn-primary btn_cart" style="margin-left: 80px;">カートに入れる</button>
      <a href="/item/preview/<%=@item.id%>"><button id="previewButton" class="btn btn-info btn_cart">プレビュー</button></a>
    </div>
  </div>
</div>
<div id="confirm_box" class="confirm_box"></div>

<div id="cart"></div>


