<!DOCTYPE HTML>
<html lang="en">  
  <body>
    <div id="page-wrapper">
      <%Item.all.each do |item|%>
        <div class="well item_list">
          <%=link_to image_tag(item.item_image.url), :controller=>"item", :action=>"detail", :id=>item.id %>
          <span class="help-block">商品名：<%= item.name %></span>
          <span class="help-block"><%= item.price %>円</span>
        </div>
      <% end %>
    </div>
  </body>

</html>

