<!DOCTYPE HTML>
<html lang="en">  
  <body>
    <div id="page-wrapper">
      <p class="textarea"></p>
      <div class="oval">
        <div class="text">1</div>
      </div>
      <div class="rectangle">
        <p class="textarea-1">1. Click the icon in the sidebar to bring up the library.
          <br/>2. Drag elements into the space below.</p>
      </div>
      <% if current_user %>
        <div class="text-1">First, Let's Choose Product!</div>
      <% else %>
        <div class="text-1">First, Let's registration!</div>
        <div class="rectangle-1">
          <a class="auth facebook" href="/auth/facebook"><div class="text-2">Facebook registration</div></a>
        </div>
      <% end %>
      <div class="text-3">okkapy</div>
      <div class="rectangle-2">
        <div class="oval-1">
          <div class="text-4">2</div>
        </div>
        <div class="text-5">You can make parsonal product!</div>
        <p class="textarea-3">Web design is made up of many similar objects. Today’s tools force the designer
          to copy/paste groups of layers around.
          <br/>
          <br/>Easel allows you to create reusable 'elements' by simply grouping with a special
          command. Then you can change them in one place, and they change everywhere.</p>
        <p class="textarea-4"></p>
          <%=link_to image_tag('/image.png'), :controller=>"item", :action=>"detail", :id=>1%>
          <p class="textarea-5">1. Select both the button body and text
            <br/>2. Press</p>
      </div>
      <div class="text-6">It fits the Web</div>
      <div class="rectangle-4">
        <div class="rectangle-5">
          <div class="text-7">export me!!</div>
        </div>
        <p class="textarea-6">1. Click the button
          <br/>2. Press</p>
      </div>
      <div class="oval-2">
        <div class="text-8">3</div>
      </div>
      <p class="textarea-10">Easel makes implementation easier by exporting single elements to HTML/CSS.
        <br/>
        <br/>With integrated web fonts and by using the browser’s type engine, text is rendered
        exactly as it will on your website.  </p>
      <div class="rectangle-9">
        <p class="textarea-11">The current web design process is broken. People use image editing tools for creation,
          share screenshots/flat exports over email, and spend more time than necessary manually
          translating the design into a working product. We believe the future of application
          design is in the browser with tools that understand the medium and the process.</p>
      </div>
      <div class="rectangle-10">
        <div class="text-9">@easelapp</div>
      </div>
      <p class="textarea-12">Easel makes implementation easier by exporting single elements to HTML/CSS.
        <br/>
        <br/>With integrated web fonts and by using the browser’s type engine, text is rendered
        exactly as it will on your website.  </p>
      <p class="textarea-13">Easel's goal is allowing you to get your ideas out as quickly as possible. Maybe
        you want to create a beautiful button?</p>
    </div>
  </body>

</html>
