// Place all the styles related to the item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page_content{
  margin: 10px 0 0 0;
}
#item_image{
  float: left;
}
#item_information{
  margin-left: 500px;
}
#item_zone{
  margin-top:40px;
}

.confirm_box{
   width: 400px;
   height:150px;
   background:#FFFAFA;
   float:right; 
   display:none;
}
